<h1>Badges</h1>

<table class="table">
  <tr>
    <th>Name</th>
    <th>Rule</th>
    <th>Image</th>
  </tr>
  
  <%= render @badges %>

</table>

<h2>Your Badges</h2>
<table class="table">
  <tr>
    <th>Name</th>
    <th>Rule</th>
    <th>Image</th>
  </tr>

  <%= render @user_badges %>
</table>
