<footer>
  <div style="text-align: center">
    <p>
      This project was created by Alexander Saderdinov  <br>
    <%= link_to 'Project', github_url('flllck', 'test-guru') %>
    </p>
    <%= link_to 'Educational project of the online school Thinknetica', 'https://thinknetica.com', target: '_blank', rel: 'nofollow' %>
    <br>
    <%= current_year %>
  </div>
</footer>

