<footer class="footer">
  <small>
    This Project was created by Alexander Saderdinov <br>
  <ul>
    <li><%=github_url('flllck', 'test-guru')%></li> <br>
    <li><%= link_to 'Educational project of the online school Thinknetica',
                    'https://thinknetica.com',
                    target: '_blank',
                    rel: 'nofollow'%>
    </li>
    <li><%= current_year %></li>
  </ul>
  </small>
</footer>

